$blueGradient: linear-gradient(90deg, #00d7d6 0.03%, #006dce 100%);
$beigeGradient: linear-gradient(180deg, #fac6b5 23.16%, #ffe2a9 100%);
$brownGradient: linear-gradient(
  180deg,
  #bdabac 0%,
  #906865 49.24%,
  #3d2b2f 100%
);
$orangeF0: #f0922a;
$orangeFF: #ffb459;
$orangeFB: #fbc27f;
$beigeFF: #ffdcb5;
$beigeE9: #e9d9cf;
$cyan33: #33bddc;
$blue33: #33549e;
$blue1A: #1a71f3;
$greenBD: #bdff3b;
$green05: #055c4c;
$green3C: #3cb371;
$black4C: #4c4a4e;
$black0D: #0d041a;
$black18: #18191B;
$redFF: #ff0000;
$redDC: #dc143c;
$purpleRBGA: rgba(49, 64, 174, 0.25);
$greenRBGA: rgba(104, 174, 49, 0.25);
$greenRBGA: rgba(143, 174, 255, 0.25);
$whiteFF: #ffffff;
